body
{
		background-color: black!important;
		font-family:'Cinzel', serif;
		color:#808080;
	    padding:40px;
		padding-bottom:0 !important;
		padding-top:0 !important;
		
}


h1.logo
{
	font-size: 80px;
	font-weight: 800;
	color:#2F4F4F;
	text-transform:uppercase;
	letter-spacing:10px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family:'Cinzel', serif;
}


nav
{
		text-align:center;
		font-family:'Cinzel', serif;
}

.menu
{
	list-sty-type:none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 40px;
	line-height:200%;
}

.menu > li
{
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	font-size:25px;
	
}

.menu a
{
	text-decoration:none;
	font-weight:700;
	color:#808080;
}
.menu a:hover
{
	color: blue;
	cursor:pointer;
	text-decoration:none;
}

h3.napis
 {
	  
	  font-size: 45px !important;
	  font-weight: bold;
	  font-family:'Cinzel', serif !important;
 }
 
#tytul
{
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	padding: 0;
	width:50%;
	float: left;
	font-family:'Cinzel', serif;
	font-weight: 800;
	padding-left:30px;
}

.premiery
{
	margin-left: auto;
	margin-right: auto;
	height: 600px !important ;
	width:40%;
	text-align:left;
	background-color:#808080;
	overflow-y:scroll;
	float:left;
	font-family:'Cinzel', serif;
	padding-left:20px !important;
	

}

.wydarzenia
{
	text-align:left;
	background-color:#808080;
	min-height:600px ;
	overflow-y:scroll;
	width:50%;
	height: 600px !important ;
	float: right;
	font-family:'Cinzel', serif;
	padding:40px !important;

	
}



.film
{
	weight:100%;
	background-color:#808080;
	position:relative;
	
	
}
.wyd
{
	weight:100%;
	background-color:#808080;
	position:relative;
	
	
}

.plakat
{
	padding:20px;
	float:left;
	display:inline;
}




.opis
{
	padding-top:150px;
	weight:40%;
	text-align: justify;
	color:black;
}

.stopka
{
	margin-left: auto;
	margin-right: auto;
	width:100%;
	text-align:center;
	clear:both;
	padding:10px;
}



 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img 
 {
      width: 100%;
      margin: auto;
	  max-height: 500px !important;
	  
 }
 
 
.carousel-caption 
 
 {
	 
	 font-family:'Cinzel', serif !important;
	 font-size: 30px !important;
	 
 }




 