body
{
		background-color: #111740!important;
		font-family:'Cinzel', serif;
}




h1.logo
{
	font-size: 60px;
	font-weight: 800;
	color: black;
	text-transform:uppercase;
	letter-spacing:10px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left:100px;
	font-family:'Cinzel', serif;
}


nav
{
		text-align:center;
		color:black;
		font-family:'Cinzel', serif;
}

.menu
{
	list-sty-type:none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 40px;
	line-height:200%;
}

.menu > li
{
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	font-size:25px;
	
}

.menu a
{
	text-decoration:none;
	color: black;
	font-weight:700;
}
.menu a:hover
{
	color: red;
	cursor:pointer;
	text-decoration:none;
}


.aktualnosci
{
	margin-left: auto;
	margin-right: auto;
	min-height:600px;
	width:50%;
	text-align:left;
	padding: 0;
	background-color:#233159;
	overflow-y:scroll;
	float:left;
	color:black;
	font-family:'Cinzel', serif;
}

.wydarzenia
{
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	padding: 0;
	background-color:#233159;
	min-height:600px ;
	overflow-y:scroll;
	width:50%;
	float: left;
	color: black;
	font-family:'Cinzel', serif;
}

#wyd
{
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	padding: 0;
	width:50%;
	float: left;
	color: black;
	font-family:'Cinzel', serif;
	font-weight: 800;
	padding-left:30px;
}



.stopka
{
	margin-left: auto;
	margin-right: auto;
	width:100%;
	text-align:center;
	padding: 0;
	clear:both;
}



 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img 
 {
      width: 100%;
      margin: auto;
	  max-height: 500px !important;
	  
 }
 
 .carousel-inner > .item > .carousel-caption > .napis
 
 {
	 color:black;
 }
